li {
  color: chocolate;
}

li:first-child {
  color: palevioletred;
  background-color: cornflowerblue;
}
li:last-child {
  color: green;
}
li:third-child {
  color: blue;
}
li:nth-child(2n) {
  color: gray;
}
