h1 {
  background-color: indianred;
  display: inline;
}
span {
  background-color: lawngreen;
  width: 250px; /* not working for inline element */
  width: 250px; /* not working for inline element */
  margin-top: 200px; /* not working for inline element */
  margin-bottom: 200px; /* not working for inline element */
  margin-right: 20px; /* working */
  margin-left: 20px; /* working */
}

div {
  background-color: lightblue;
  width: 300px;
  height: 300px;
}

/* a {
  display: block;
} */
