h1 {
  background-color: indianred;
  display: inline;
}
span {
  background-color: lawngreen;
}

div {
  background-color: lightblue;
  width: 300px;
  height: 300px;
  display: inline-block;
}

/* a {
  display: block;
} */
